body {
  position: fixed;
  width: 100%;
  height: 100vh;
}

.mantine-Notifications-root {
  margin-top: calc(50px - var(--mantine-spacing-md)); /* header is 50 */
}

.notification {
  margin-top: var(--mantine-spacing-md)
}

.maplibregl-control-container {
  display: none;
}