body {
  width: 100%;
  margin: 0;
  height: 100dvh;
  overflow: hidden;
}

.mantine-Notifications-root {
  margin-top: calc(50px - var(--mantine-spacing-md)); /* header is 50 */
}

.notification {
  margin-top: var(--mantine-spacing-md)
}

.maplibregl-control-container {
  display: none;
}