#root {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1;
  overflow-y: auto;
}

/** Prevent keyboard from covering in mobile */
#footer {
  position: sticky;
  bottom: 0;
}

.mantine-Notifications-root {
  margin-top: calc(50px - var(--mantine-spacing-md)); /* header is 50 */
}

.notification {
  margin-top: var(--mantine-spacing-md)
}

.maplibregl-control-container {
  display: none;
}